<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wines &mdash; Summit's Web App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

<br>
<!-- Wines Co. Logo -->
    <img src="images/logo.png">
    <hr>
    <br>

    <img src="images/hero_1.jpg" style="width:1300px;height:700px;"><br>
    
            <h2 >OUR PRODUCTS</h2>
            <p>All our products ship the next day after you make a purchase!</p>

      </br>
    </br>

<table>   
      <td>
    <!-- Listing Starts-->
        <img src="images/wine_2.png" style="width:250px;height:300px;">
        <br>      
        <h3><a style="color: blueviolet;"> Trius Cabernet France 2011</a></h3>
        <h4>$659.00</h4>        
        
        <!-- Try adding cart -->

        <form method="POST">
          <input name="productImage" id="productImage" type="hidden" value="images/wine_2.png" />
          <input name="productName" id="productName" type="hidden" value="Trius Cabernet France 2011" /> 
          <input name="productPrice" id="productPrice" type="hidden" value="659" /> 
          <button class="add-button" type="submit">Add to Cart</button>
        </form>

        <!-- Finish adding cart -->

        <br>
        <br>
        <br>
        <br>
    <!-- Listing Ends -->
        </td>

        <td>

       <!-- Listing Starts-->
       <img src="images/wine_3.png" style="width:250px;height:300px;">
       <br>      
       <h3><a style="color: blueviolet;"> Pinot Noir France 2010</a></h3>
       <h4>$649.00</h4>     
       <form method="POST">
        <input name="productImage" id="productImage" type="hidden" value="images/wine_3.png" />
        <input name="productName" id="productName" type="hidden" value="Pinot Noir France 2010" /> 
        <input name="productPrice" id="productPrice" type="hidden" value="649" /> 
        <button class="add-button" type="submit">Add to Cart</button>
      </form>
       <br>
       <br>
       <br>
       <br>
   <!-- Listing Ends -->
      </td>
      
      
      <td>
        <!-- Listing Starts-->
            <img src="images/wine_2.png" style="width:250px;height:300px;">
            <br>      
            <h3><a style="color: blueviolet;"> Marsanne France 2011</a></h3>
            <h4>$689.00</h4>        
            
            <!-- Try adding cart -->
    
            <form method="POST">
              <input name="productImage" id="productImage" type="hidden" value="images/wine_2.png" />
              <input name="productName" id="productName" type="hidden" value="Marsanne France 2011" /> 
              <input name="productPrice" id="productPrice" type="hidden" value="689" /> 
              <button class="add-button" type="submit">Add to Cart</button>
            </form>
    
            <!-- Finish adding cart -->
    
            <br>
            <br>
            <br>
            <br>
        <!-- Listing Ends -->
            </td>
      
      
      <td>


      <!-- Listing Starts-->
      <img src="images/wine_1.png" style="width:250px;height:300px;">
      <br>      
      <h3><a style="color: blueviolet;"> Cabernet Sauvignon France 2011</a></h3>
      <h4>$559.00</h4>  
      <form method="POST">
        <input name="productImage" id="productImage" type="hidden" value="images/wine_1.png" />
        <input name="productName" id="productName" type="hidden" value="Cabernet Sauvignon France 2011" /> 
        <input name="productPrice" id="productPrice" type="hidden" value="559" /> 
        <button class="add-button" type="submit">Add to Cart</button>
      </form>
      <br>
      <br>
      <br>
      <br>
  <!-- Listing Ends -->
  </td>





</table>

<!-- Listing Ends -->
<img src="images/img_3.jpg" style="width:1300px;height:700px;"><br>
<br>
<br>
<br>

<table>
  <td>
     <!-- Listing Starts-->
     <img src="images/wine_2.png" style="width:250px;height:300px;">
     <br>      
     <h3><a style="color: blueviolet;"> Chardonnay France 2009</a></h3>
     <h4>$669.00</h4> 
     <form method="POST">
      <input name="productImage" id="productImage" type="hidden" value="images/wine_2.png" />
      <input name="productName" id="productName" type="hidden" value="Chardonnay France 2009" /> 
      <input name="productPrice" id="productPrice" type="hidden" value="669" /> 
      <button class="add-button" type="submit">Add to Cart</button>
    </form>
     <br>
     <br>
     <br>
     <br>
 <!-- Listing Ends -->
</td>
<td>
    <!-- Listing Starts-->
    <img src="images/wine_3.png" style="width:250px;height:300px;">
    <br>      
    <h3><a style="color: blueviolet;"> Zinfandel France 2011</a></h3>
    <h4>$629.00</h4>    
    <form method="POST">
      <input name="productImage" id="productImage" type="hidden" value="images/wine_3.png" />
      <input name="productName" id="productName" type="hidden" value="Zinfandel France 2011" /> 
      <input name="productPrice" id="productPrice" type="hidden" value="629" /> 
      <button class="add-button" type="submit">Add to Cart</button>
    </form>
    <br>
    <br>
    <br>
    <br>
<!-- Listing Ends -->
</td>
<td>
   <!-- Listing Starts-->
   <img src="images/wine_1.png" style="width:250px;height:300px;">
   <br>      
   <h3><a style="color: blueviolet;"> Sauvignon Blanc France 2011</a></h3>
   <h4>$609.00</h4>      
   <form method="POST">
    <input name="productImage" id="productImage" type="hidden" value="images/wine_1.png" />
    <input name="productName" id="productName" type="hidden" value="Sauvignon Blanc France 2011" /> 
    <input name="productPrice" id="productPrice" type="hidden" value="609" /> 
    <button class="add-button" type="submit">Add to Cart</button>
  </form>
   <br>
   <br>
   <br>
   <br>

  </td>
  <td>


   <!-- Listing Starts-->
    
   <img src="images/wine_4.png" style="width:250px;height:300px;">
   <br> 
      
   <h3><a style="color: blueviolet;"> Cru Du Beaujolais France 2005</a></h3>
   <h3><a style= "color: cadetblue;">Limited Edition!</a></h3>  
   <h4>$949.00</h4>    
   <form method="POST">
    <input name="productImage" id="productImage" type="hidden" value="images/wine_4.png" />
    <input name="productName" id="productName" type="hidden" value="Cru Du Beaujolais France 2005" /> 
    <input name="productPrice" id="productPrice" type="hidden" value="949" /> 
    <button class="add-button" type="submit">Add to Cart</button>
  </form>
   <br>
   <br>
   <br>
   
 <!-- Listing Ends -->  
</td>

</table>      

  <img src="images/img_4.jpg" style="width:1300px;height:600px;">
  <p>Copyright &copy; All rights reserved | Wines Co. Since 1885</p>
  <a href="checkout"><button>Checkout</button></a>
  <a href="logout"><button>Log Out</button></a>
</body>

</html>